<h1>{{title}}</h1>
<p>Length: {{title.length}}</p>
<p>Reversed: {{getReversed(title)}}</p>
<p>Name is {{name}}</p>
<h1>Doesnt work:</h1>
<img src="starUrl">
<h1>Works: One way Binding</h1>
<img [src]="starUrl">
<ul>
  <li *ngFor="let car of cars">
    <span [attr.id]="car.id"> 
    {{car.name}} {{car.year}}
    <button (click)="showCar($event, car)">Click Me</button>
  </span>
  </li>
</ul>
<h2>2 way data binding {{fg}}</h2>
<p>Foreground: <input [(ngModel)]="fg" /> </p>
<p>Background: <input [(ngModel)]="bg" /> </p>
<div [ngStyle]="{'color': fg, 'background-color': bg, 'padding': '5px'}"> Test</div>

<input #input type="text" (input)="textInput($event)" value=""/> <hr>
Upper-Case: {{upperCase}}
<br/>
Lower-Case: {{lowerCase}}

<div sizer="72px" style="border:1px solid red;">{{title}}</div>

<h1 hoverer="red">{{title}}</h1>

<car *ngFor="let car of icars" (carDelete)="deleteCar(car)" [theCar]="car"></car>

<div style="text-align:center">
  <h1>Welcome!!</h1>
  <a [routerLink]="['sales']">Sales</a> 
  <a [routerLink]="['support']">Support</a> 
  <router-outlet></router-outlet> 
</div>
<div class='app'>
[app]
<app-customer-list></app-customer-list>
</div>
